:root {
    --color1: #FFFFFF;
    --color2: #FF9843;
    --color3: #FFDD95;
    --color4: #86A7FC;
    --color5: #3468C0;
    --color6: #000000;
    --color7: #FFF5EB;
    --color8: #FFC0D9;
    --color9: #FF90BC;
    --color10: rgba(192, 192, 192, 0.664);;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    background-color: var(--color7);
    color: var(--color4);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: var(--color4);
    border-bottom: 2px solid var(--color8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* Navbar Logo */
.navbar .navbar-logo img {
    height: 3rem;
}

/* Title */
.list-product {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color7);
}

.list-product .title .title-name {
    position: relative;
    top: 4.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    color: var(--color6);
    border-radius: 0.5rem;
    padding: 0.5rem 7%;
}

/* Pricelist */
.list-product .title .row {
    display: flex;
    padding: 0.5rem 7%;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 4rem;
}

.row .product {
    z-index: 1;
    background: var(--color4);
    box-shadow: 0 2px 4px 0 var(--color10);
    position: relative;
    width: 15rem;
    height: 20rem;
    margin: 5px;
    border-radius: 0.5rem;
}

.row .product .product-img {
    border: var(--color4) solid 0.2rem;
    border-radius: 0.5rem;
    z-index: 1;
    position: absolute;
    max-width: 15rem;
}

.row .product .product-img-slide {
    border: var(--color4) solid 0.2rem;
    border-radius: 0.5rem;
    z-index: 1;
    position: absolute;
    max-width: 15rem;
}

.row .product .product-img-slide2 {
    border: var(--color4) solid 0.2rem;
    border-radius: 0.5rem;
    z-index: 1;
    position: absolute;
    max-width: 15rem;
}

.row .product .product-img-slide3 {
    border: var(--color4) solid 0.2rem;
    border-radius: 0.5rem;
    z-index: 1;
    position: absolute;
    max-width: 15rem;
}

.row .product .name {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color1);
    position: absolute;
    padding: 0 0.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    bottom: 3rem;
}

.row .product .price {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    color: var(--color1);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0.2rem;
}

.row .product .number {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color1);
    background: var(--color8);
    position: absolute;
    margin: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.row .product .note {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    font-style: italic;
    font-weight: 700;
    color: var(--color6);
    position: absolute;
    right: 0;
    margin: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.row .product .noteobject {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
    font-style: italic;
    font-weight: 500;
    color: var(--color6);
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    margin: 0.1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.row .product .coupon {
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    font-weight: 700;
    color: var(--color6);
    background-color: var(--color8);
    position: absolute;
    top: 0.4rem;
    padding: 0.05rem 0.1rem;
    margin-left: 0.1rem;
    border-radius: 0.2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    background-color: var(--color4);
    border-top: 2px solid var(--color8);
    position: relative;
    bottom: -5rem;
    left: 0;
    right: 0;
    z-index: 9999;
}

.footer .footer-name {
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    font-weight: 300;
    color: var(--color1);
    position: relative;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 280px) {
    /* For Galaxy Fold */    
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 7%;
        background-color: var(--color4);
        border-bottom: 2px solid var(--color8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    /* Navbar Logo */
    .navbar .navbar-logo img {
        height: 1.5rem;
    }
    
    /* Title */
    .list-product {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: var(--color7);
    }
    
    .list-product .title .title-name {
        position: relative;
        top: 2.8rem;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        text-align: center;
        color: var(--color6);
        border-radius: 0.5rem;
        padding: 0.5rem 7%;
    }
    
    /* Pricelist */
    .list-product .title .row {
        display: flex;
        padding: 0.5rem 7%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 2.2rem;
    }
    
    .row .product {
        z-index: 1;
        background: var(--color4);
        box-shadow: 0 1px 2px 0 var(--color10);
        position: relative;
        width: 7rem;
        height: 9.5rem;
        margin: 3px;
        border-radius: 0.4rem;
    }
    
    .row .product .product-img {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 7rem;
    }
    
    .row .product .product-img-slide {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 7rem;
    }

    .row .product .product-img-slide2 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 7rem;
    }

    .row .product .product-img-slide3 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 7rem;
    }
    
    .row .product .name {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.4rem;
        font-weight: 500;
        color: var(--color1);
        position: absolute;
        padding: 0 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        bottom: 1.6rem;
    }
    
    .row .product .price {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        font-style: italic;
        color: var(--color1);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.1rem;
    }
    
    .row .product .number {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 700;
        color: var(--color1);
        background: var(--color8);
        position: absolute;
        margin: 0.25rem;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
    }

    .row .product .note {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.35rem;
        font-style: italic;
        font-weight: 700;
        color: var(--color6);
        position: absolute;
        right: 0;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    .row .product .noteobject {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.4rem;
        font-style: italic;
        font-weight: 500;
        color: var(--color6);
        position: absolute;
        left: 0;
        bottom: 2.5rem;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .coupon {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.3rem;
        font-weight: 700;
        color: var(--color6);
        background-color: var(--color8);
        position: absolute;
        top: 0.2rem;
        padding: 0.05rem 0.1rem;
        margin-left: 0.1rem;
        border-radius: 0.1rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        background-color: var(--color4);
        border-top: 2px solid var(--color8);
        position: relative;
        padding: 0.5rem 7%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .footer .footer-name {
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 300;
        color: var(--color1);
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 360px) {
    /* For Galaxy Fold */    
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 7%;
        background-color: var(--color4);
        border-bottom: 2px solid var(--color8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    /* Navbar Logo */
    .navbar .navbar-logo img {
        height: 1.75rem;
    }
    
    /* Title */
    .list-product {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: var(--color7);
    }
    
    .list-product .title .title-name {
        position: relative;
        top: 3rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: var(--color6);
        border-radius: 0.5rem;
        padding: 0.5rem 7%;
    }
    
    /* Pricelist */
    .list-product .title .row {
        display: flex;
        padding: 0.5rem 7%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 2.2rem;
    }
    
    .row .product {
        z-index: 1;
        background: var(--color4);
        box-shadow: 0 1px 2px 0 var(--color10);
        position: relative;
        width: 9rem;
        height: 11.5rem;
        margin: 3px;
        border-radius: 0.4rem;
    }
    
    .row .product .product-img {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 9rem;
    }
    
    .row .product .product-img-slide {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 9rem;
    }

    .row .product .product-img-slide2 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 9rem;
    }

    .row .product .product-img-slide3 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 9rem;
    }
    
    .row .product .name {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 500;
        color: var(--color1);
        position: absolute;
        padding: 0 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        bottom: 1.6rem;
    }
    
    .row .product .price {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        font-style: italic;
        color: var(--color1);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.1rem;
    }
    
    .row .product .number {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-weight: 700;
        color: var(--color1);
        background: var(--color8);
        position: absolute;
        margin: 0.25rem;
        padding: 0.1rem 0.2rem;
        border-radius: 0.2rem;
    }

    .row .product .note {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.35rem;
        font-style: italic;
        font-weight: 700;
        color: var(--color6);
        position: absolute;
        right: 0;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    .row .product .noteobject {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.45rem;
        font-style: italic;
        font-weight: 500;
        color: var(--color6);
        position: absolute;
        left: 0;
        bottom: 2.5rem;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .coupon {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.3rem;
        font-weight: 700;
        color: var(--color6);
        background-color: var(--color8);
        position: absolute;
        top: 0.2rem;
        padding: 0.05rem 0.1rem;
        margin-left: 0.1rem;
        border-radius: 0.1rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        background-color: var(--color4);
        border-top: 2px solid var(--color8);
        position: relative;
        padding: 0.5rem 7%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .footer .footer-name {
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 300;
        color: var(--color1);
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 412px) {
    /* For Galaxy S20 Ultra */    
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 7%;
        background-color: var(--color4);
        border-bottom: 2px solid var(--color8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    /* Navbar Logo */
    .navbar .navbar-logo img {
        height: 1.8rem;
    }
    
    /* Title */
    .list-product {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: var(--color7);
    }
    
    .list-product .title .title-name {
        position: relative;
        top: 3rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: var(--color6);
        border-radius: 0.5rem;
        padding: 0.5rem 7%;
    }
    
    /* Pricelist */
    .list-product .title .row {
        display: flex;
        padding: 0.5rem 7%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 2.2rem;
    }
    
    .row .product {
        z-index: 1;
        background: var(--color4);
        box-shadow: 0 1px 2px 0 var(--color10);
        position: relative;
        width: 10rem;
        height: 13rem;
        margin: 3px;
        border-radius: 0.4rem;
    }
    
    .row .product .product-img {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 10rem;
    }
    
    .row .product .product-img-slide {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 10rem;
    }

    .row .product .product-img-slide2 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 10rem;
    }

    .row .product .product-img-slide3 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 10rem;
    }
    
    .row .product .name {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.55rem;
        font-weight: 500;
        color: var(--color1);
        position: absolute;
        padding: 0 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        bottom: 1.9rem;
    }
    
    .row .product .price {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: italic;
        color: var(--color1);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.2rem;
    }
    
    .row .product .number {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-weight: 700;
        color: var(--color1);
        background: var(--color8);
        position: absolute;
        margin: 0.25rem;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
    }
    
    .row .product .note {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.4rem;
        font-style: italic;
        font-weight: 700;
        color: var(--color6);
        position: absolute;
        right: 0;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    .row .product .noteobject {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: 500;
        color: var(--color6);
        position: absolute;
        left: 0;
        bottom: 3rem;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .coupon {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.35rem;
        font-weight: 700;
        color: var(--color6);
        background-color: var(--color8);
        position: absolute;
        top: 0.2rem;
        padding: 0.05rem 0.1rem;
        margin-left: 0.1rem;
        border-radius: 0.1rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        background-color: var(--color4);
        border-top: 2px solid var(--color8);
        position: relative;
        padding: 0.5rem 7%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .footer .footer-name {
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 300;
        color: var(--color1);
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    /* For Ipad Mini */    
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 7%;
        background-color: var(--color4);
        border-bottom: 2px solid var(--color8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    /* Navbar Logo */
    .navbar .navbar-logo img {
        height: 2rem;
    }
    
    /* Title */
    .list-product {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: var(--color7);
    }
    
    .list-product .title .title-name {
        position: relative;
        top: 3.2rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: var(--color6);
        border-radius: 0.5rem;
        padding: 0.5rem 7%;
    }
    
    /* Pricelist */
    .list-product .title .row {
        display: flex;
        padding: 0.5rem 7%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 2.4rem;
    }
    
    .row .product {
        z-index: 1;
        background: var(--color4);
        box-shadow: 0 1px 2px 0 var(--color10);
        position: relative;
        width: 12rem;
        height: 15.5rem;
        margin: 3px;
        border-radius: 0.4rem;
    }
    
    .row .product .product-img {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 12rem;
    }
    
    .row .product .product-img-slide {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 12rem;
    }

    .row .product .product-img-slide2 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 12rem;
    }

    .row .product .product-img-slide3 {
        border: var(--color4) solid 0.15rem;
        border-radius: 0.4rem;
        z-index: 1;
        position: absolute;
        max-width: 12rem;
    }
    
    .row .product .name {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
        font-weight: 500;
        color: var(--color1);
        position: absolute;
        padding: 0 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        bottom: 2.1rem;
    }
    
    .row .product .price {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        font-style: italic;
        color: var(--color1);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.2rem;
    }
    
    .row .product .number {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--color1);
        background: var(--color8);
        position: absolute;
        margin: 0.25rem;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
    }

    .row .product .note {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: 700;
        color: var(--color6);
        position: absolute;
        right: 0;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    .row .product .noteobject {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-style: italic;
        font-weight: 500;
        color: var(--color6);
        position: absolute;
        left: 0;
        bottom: 3.5rem;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .coupon {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.4rem;
        font-weight: 700;
        color: var(--color6);
        background-color: var(--color8);
        position: absolute;
        top: 0.2rem;
        padding: 0.05rem 0.1rem;
        margin-left: 0.1rem;
        border-radius: 0.1rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        background-color: var(--color4);
        border-top: 2px solid var(--color8);
        position: relative;
        padding: 0.5rem 7%;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .footer .footer-name {
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-weight: 300;
        color: var(--color1);
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    /* For Ipad Mini */
    /* Navbar */
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 7%;
        background-color: var(--color4);
        border-bottom: 2px solid var(--color8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    /* Navbar Logo */
    .navbar .navbar-logo img {
        height: 3rem;
    }
    
    /* Title */
    .list-product {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        background-color: var(--color7);
    }
    
    .list-product .title .title-name {
        position: relative;
        top: 4.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        color: var(--color6);
        border-radius: 0.5rem;
        padding: 0.5rem 7%;
    }
    
    /* Pricelist */
    .list-product .title .row {
        display: flex;
        padding: 0.5rem 7%;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 4rem;
    }
    
    .row .product {
        z-index: 1;
        background: var(--color4);
        box-shadow: 0 2px 4px 0 var(--color10);
        position: relative;
        width: 15rem;
        height: 20rem;
        margin: 5px;
        border-radius: 0.5rem;
    }
    
    .row .product .product-img {
        border: var(--color4) solid 0.2rem;
        border-radius: 0.5rem;
        z-index: 1;
        position: absolute;
        max-width: 15rem;
    }
    
    .row .product .product-img-slide {
        border: var(--color4) solid 0.2rem;
        border-radius: 0.5rem;
        z-index: 1;
        position: absolute;
        max-width: 15rem;
    }

    .row .product .product-img-slide2 {
        border: var(--color4) solid 0.2rem;
        border-radius: 0.5rem;
        z-index: 1;
        position: absolute;
        max-width: 15rem;
    }

    .row .product .product-img-slide3 {
        border: var(--color4) solid 0.2rem;
        border-radius: 0.5rem;
        z-index: 1;
        position: absolute;
        max-width: 15rem;
    }
    
    .row .product .name {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--color1);
        position: absolute;
        padding: 0 0.5rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        bottom: 3rem;
    }
    
    .row .product .price {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        font-style: italic;
        color: var(--color1);
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0.2rem;
    }
    
    .row .product .number {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--color1);
        background: var(--color8);
        position: absolute;
        margin: 0.4rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .note {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.5rem;
        font-style: italic;
        font-weight: 700;
        color: var(--color6);
        position: absolute;
        right: 0;
        margin: 0.4rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }

    .row .product .noteobject {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-style: italic;
        font-weight: 500;
        color: var(--color6);
        position: absolute;
        left: 0;
        bottom: 5rem;
        margin: 0.1rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.2rem;
    }
    
    .row .product .coupon {
        z-index: 2;
        font-family: 'Poppins', sans-serif;
        font-size: 0.6rem;
        font-weight: 700;
        color: var(--color6);
        background-color: var(--color8);
        position: absolute;
        top: 0.4rem;
        padding: 0.05rem 0.1rem;
        margin-left: 0.1rem;
        border-radius: 0.2rem;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        background-color: var(--color4);
        border-top: 2px solid var(--color8);
        position: relative;
        bottom: -5rem;
        left: 0;
        right: 0;
        z-index: 9999;
    }
    
    .footer .footer-name {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: var(--color1);
        position: relative;
        width: 100%;
        text-align: center;
    }
}